<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.comparator-app-ppmc-advanced">APP VS PPMC - Advanced</span>
    </h2>
    <br />
    <div class="row justify-content-center" *ngIf="allTeams || myTeam">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <form class="form-inline" name="comparatorForm" role="form" novalidate
                  [ngSwitch]="isAdmin()" (ngSubmit)="compare()">
                <div class="form-group tbp-import-form" *ngSwitchCase="true">
                    <label class="form-control-label"
                           for="field_code_project_admin">Code project</label>
                    <select class="form-control" id="field_code_project_admin" name="code_project" [(ngModel)]="appRequestBody.agresso">
                        <option *ngFor="let team of allTeams" [value]="team.agresso">{{team.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form" *ngSwitchCase="false">
                    <span id="field_code_project_delco"><b>{{myTeam.name}}</b></span>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.year"
                           for="field_year">Year</label>
                    <select class="form-control" id="field_year" name="year" [(ngModel)]="appRequestBody.year">
                        <option *ngFor="let year of years" [selected]="year == currentYear">{{year}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.month"
                           for="field_month">Month</label>
                    <select class="form-control" id="field_month" name="month"
                            [(ngModel)]="appRequestBody.month">
                        <option *ngFor="let month of months" [selected]="month == currentMonth">{{month}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <input type="file" (change)="selectFile($event)">
                    <button type="submit" class="btn btn-success" [disabled]="!selectedFiles">
                        <span jhiTranslate="global.menu.entities.compare">
                            Compare
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div>
        <div class="table-responsive" *ngIf="comparator">
            <button class="btn btn-info btn-sm float-right" type="submit" (click)="notifyCollabsWithGap()">
                <fa-icon [icon]="'envelope'"></fa-icon>
                <span  jhiTranslate="imputationSqliApp.imputation.notifyAll">
            Notify All
            </span>
            </button>
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th><span jhiTranslate="imputationSqliApp.imputation.collaborator">Collaborator</span>
                    </th>
                    <th><span jhiTranslate="imputationSqliApp.imputationType.detail.title">Imputation type</span>
                    </th>
                    <th *ngFor="let day of imputationDays" [id]="day">{{day}}</th>
                    <th><span jhiTranslate="imputationSqliApp.imputation.total">Total</span></th>
                    <th><span jhiTranslate="imputationSqliApp.imputation.action">Action</span></th>
                </tr>
                </thead>
                <tbody *ngFor="let element of comparator">
                <tr>
                    <th rowspan="2"><a
                        [routerLink]="['/collaborator', element.collaborator.id, 'view' ]">{{element.collaborator.lastname + ' ' + element.collaborator.firstname}}</a>
                    </th>
                    <th>App</th>
                    <td *ngFor="let day of imputationDays" [id]="day" [ngStyle]="{backgroundColor: getColor(element, day)}">
                        <span
                            *ngFor="let daily of element.appMonthlyImputation.dailyImputations">{{day == daily.day ? daily.charge : ''}}
                        </span>
                    </td>
                    <td>
                        {{element.appMonthlyImputation.total}}
                    </td>
                    <td rowspan="2">
                        <div class="btn-group flex-btn-group-container">
                            <button class="btn btn-info btn-sm" type="submit">
                                <fa-icon [icon]="'envelope'"></fa-icon>
                                <span  jhiTranslate="imputationSqliApp.imputation.notify">
                                Notify
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>PPMC</th>
                    <td *ngFor="let day of imputationDays" [id]="day" [ngStyle]="{backgroundColor: getColor(element, day)}">
                        <span
                            *ngFor="let daily of element.comparedMonthlyImputation.dailyImputations">{{day == daily.day ? daily.charge : ''}}
                        </span>
                    </td>
                    <td>
                        {{element.comparedMonthlyImputation.total}}
                    </td>
                </tr>
                <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
