<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.jira-timesheet">JIRA Timesheet</span>
    </h2>
    <div class="row justify-content-center" *ngIf="allTeams || myTeam">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <form class="form-inline" name="comparatorForm" role="form" novalidate
                  [ngSwitch]="isAdmin()" (ngSubmit)="getTimesheet()">
                <div class="form-group tbp-import-form" *ngSwitchCase="true">
                    <label class="form-control-label"
                           for="field_code_project_admin" jhiTranslate="imputationSqliApp.imputation.project_code">Project</label>
                    <select class="form-control" id="field_code_project_admin" name="code_project"
                            [(ngModel)]="tbpRequestBody.idTbp">
                        <option *ngFor="let team of allTeams" [ngValue]="team.idTbp">{{team.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form" *ngSwitchCase="false">
                    <span id="field_code_project_delco"><b>{{myTeam.name}}</b></span>
                </div>
                <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.start_date"
                       for="field_start_date">Start Date</label>
                <input type="date" id="field_start_date" class="form-control" name="start" [(ngModel)]="tbpRequestBody.startDate" required/>

                <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.end_date"
                       for="field_end_date">Start Date</label>
                <input type="date" id="field_end_date" class="form-control" name="end" [(ngModel)]="tbpRequestBody.endDate" required/>
                <div class="form-group tbp-import-form">
                    <button type="submit" id="tbp-timesheet-import-button" class="btn btn-primary float-right">
                        <span jhiTranslate="global.menu.entities.importJira">
                            Import Jira
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>

    <div [ngSwitch]="isFilledImputation()">
        <div *ngSwitchCase="true">
            <div *ngFor="let jiraWorklog of jiraWorklogs" >
            <div class="table-responsive" *ngIf="jiraWorklog.collaboratorWorklogs.length>0" >
                <h3>
                <span jhiTranslate="imputationSqliApp.imputation.yearMonth"
                      [translateValues]="{year:jiraWorklog.year, month: jiraWorklog.month}">Month : </span>
                </h3>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        </th>
                        <th jhiTranslate="imputationSqliApp.imputation.collaborator"><span>Collaborator</span>
                        </th>
                        <th class="text-center" jhiTranslate="imputationSqliApp.imputation.total"><span>Total</span>
                        </th>
                        <th class="text-center" *ngFor="let day of worklogDays.get(jiraWorklog)"
                            [id]="day">{{day + '/' + jiraWorklog.month}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let worklog of jiraWorklog.collaboratorWorklogs">
                        <td>{{worklog.collaborator.id == undefined ? 'External' : worklog.collaborator.id}}</td>
                        <td [ngSwitch]="worklog.collaborator.id==undefined">
                            <a *ngSwitchCase="false"
                               [routerLink]="['/collaborator', worklog.collaborator.id, 'view' ]">{{worklog.collaborator.lastname + ' ' + worklog.collaborator.firstname}}</a>
                            <a *ngSwitchCase="true">{{worklog.collaborator.firstname}}</a>
                        </td>
                        <td class="text-center"><b>{{getWorklogTimeSpent(worklog.totalTimeSpent)}}</b></td>
                        <td class="text-center" *ngFor="let day of worklogDays.get(jiraWorklog)" [id]="day">
                        <span
                            *ngFor="let dailyWorklog of worklog.jiraDailyWorklogs">{{day == dailyWorklog.day ? getWorklogTimeSpent(dailyWorklog.timeSpent) : ''}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="nothingToShow" *ngSwitchCase="false">
            <span jhiTranslate="global.nothingToShow">There is nothing to show, please fill the form and submit.</span>
            <br/>
            <span><fa-icon icon="search"></fa-icon></span>
        </div>
    </div>
</div>
