<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.advanced-app-vs-tbp">APP VS TBP Advanced</span>
    </h2>
    <div class="row justify-content-center" *ngIf="allTeams || myTeam">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <form class="form-inline" name="comparatorForm" role="form" novalidate
                  [ngSwitch]="isAdmin()" (ngSubmit)="compare()">
                <div class="form-group tbp-import-form" *ngSwitchCase="true">
                    <label class="form-control-label"
                           for="field_code_project_admin">Code project</label>
                    <select class="form-control" id="field_code_project_admin" name="code_project"
                            [(ngModel)]="appTbpRequestBody.team">
                        <option *ngFor="let team of allTeams" [ngValue]="team">{{team.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form" *ngSwitchCase="false">
                    <span id="field_code_project_delco"><b>{{myTeam.name}}</b></span>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.year"
                           for="field_year">Year</label>
                    <select class="form-control" id="field_year" name="year"
                            [(ngModel)]="appTbpRequestBody.year" (change)="initializeMonth()">
                        <option *ngFor="let year of years" [value]="year"
                                [selected]="year == currentYear">{{year}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.month"
                           for="field_month">Month</label>
                    <select class="form-control" id="field_month" name="month" [(ngModel)]="appTbpRequestBody.month">
                        <option *ngFor="let month of months" [selected]="month == currentMonth">{{month}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <button type="submit" id="tbp-timesheet-import-button" class="btn btn-primary float-right">
                        <span jhiTranslate="global.menu.entities.compare">
                            Compare
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <div class="table-responsive" *ngIf="comparator">
            <button id="NotifyAll" (click)="notifyCollabsWithGap()"
                    class="btn btn-info btn-sm float-right">
                <fa-icon [icon]="'envelope'"></fa-icon>
                <span  jhiTranslate="imputationSqliApp.imputation.notifyAll">
                Notify All
            </span>
            </button>
            <table class="table table-bordered ">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                    <th colspan="2"><span jhiTranslate="imputationSqliApp.imputation.collaborator">Collaborator</span>
                    </th>
                    <!--<th><span jhiTranslate="imputationSqliApp.imputationType.detail.title">Imputation type</span>-->
                    <!--</th>-->
                    <th class="text-center" *ngFor="let day of imputationDays" [id]="day">{{day}}</th>
                    <th><span jhiTranslate="imputationSqliApp.imputation.total">Total</span>
                    </th>
                    <th class="text-center"><span
                        jhiTranslate="imputationSqliApp.imputation.action">Action</span>
                    </th>
                </tr>
                </thead>
                <tbody *ngFor="let element of comparator">
                <tr>
                    <th rowspan="2"><a
                        [routerLink]="['/collaborator', element.collaborator.id, 'view' ]">{{element.collaborator.lastname + ' ' + element.collaborator.firstname}}</a>
                    </th>
                    <th class="text-center">App</th>
                    <td class="text-center" *ngFor="let day of imputationDays" [id]="day" [ngStyle]="{backgroundColor:getColor(element,day)}">
                        <span
                            *ngFor="let daily of element.appMonthlyImputation.dailyImputations">{{day == daily.day ? daily.charge : ''}}
                        </span>
                    </td>
                    <td class="text-center"><b>{{element.appMonthlyImputation.total}}</b></td>
                    <td class="text-right" rowspan="2">
                        <div class="btn-group flex-btn-group-container">
                            <button id="notify" *ngIf="isCollabNotifiable.has(element.collaborator)"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'envelope'"></fa-icon>
                                <span class="d-none d-md-inline"  jhiTranslate="imputationSqliApp.imputation.notify" >Notify</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">TBP</th>
                    <td class="text-center" *ngFor="let day of imputationDays" [id]="day" [ngStyle]="{backgroundColor:getColor(element,day)}">
                        <span
                            *ngFor="let daily of element.comparedMonthlyImputation.dailyImputations">{{day == daily.day ? daily.charge : ''}}
                        </span>
                    </td>
                    <td class="text-center"><b>{{element.comparedMonthlyImputation.total}}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
