<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collaboratorDailyImputation">
            <h2><span jhiTranslate="imputationSqliApp.collaboratorDailyImputation.detail.title">Collaborator Daily Imputation</span> {{collaboratorDailyImputation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="imputationSqliApp.collaboratorDailyImputation.day">Day</span></dt>
                <dd>
                    <span>{{collaboratorDailyImputation.day}}</span>
                </dd>
                <dt><span jhiTranslate="imputationSqliApp.collaboratorDailyImputation.charge">Charge</span></dt>
                <dd>
                    <span>{{collaboratorDailyImputation.charge}}</span>
                </dd>
                <dt><span jhiTranslate="imputationSqliApp.collaboratorDailyImputation.collaboratorMonthlyImputation">Collaborator Monthly Imputation</span></dt>
                <dd>
                    <div *ngIf="collaboratorDailyImputation.collaboratorMonthlyImputation">
                        <a [routerLink]="['/collaborator-monthly-imputation', collaboratorDailyImputation.collaboratorMonthlyImputation?.id, 'view']">{{collaboratorDailyImputation.collaboratorMonthlyImputation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/collaborator-daily-imputation', collaboratorDailyImputation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
