<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-collaborator-daily-imputation-heading" jhiTranslate="imputationSqliApp.collaboratorDailyImputation.home.createOrEditLabel">Create or edit a Collaborator Daily Imputation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!collaboratorDailyImputation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="collaboratorDailyImputation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.collaboratorDailyImputation.day" for="field_day">Day</label>
                    <input type="number" class="form-control" name="day" id="field_day"
                        [(ngModel)]="collaboratorDailyImputation.day" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.collaboratorDailyImputation.charge" for="field_charge">Charge</label>
                    <input type="number" class="form-control" name="charge" id="field_charge"
                        [(ngModel)]="collaboratorDailyImputation.charge" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.collaboratorDailyImputation.collaboratorMonthlyImputation" for="field_collaboratorMonthlyImputation">Collaborator Monthly Imputation</label>
                    <select class="form-control" id="field_collaboratorMonthlyImputation" name="collaboratorMonthlyImputation" [(ngModel)]="collaboratorDailyImputation.collaboratorMonthlyImputation" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="collaboratorMonthlyImputationOption.id === collaboratorDailyImputation.collaboratorMonthlyImputation?.id ? collaboratorDailyImputation.collaboratorMonthlyImputation : collaboratorMonthlyImputationOption" *ngFor="let collaboratorMonthlyImputationOption of collaboratormonthlyimputations; trackBy: trackCollaboratorMonthlyImputationById">{{collaboratorMonthlyImputationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
