<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.app-timesheet">APP Timesheet</span>
    </h2>
    <div class="row justify-content-center" *ngIf="allTeams || myTeam">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <form class="form-inline" name="appImputationForm" role="form" novalidate
                  [ngSwitch]="isAdmin()" (ngSubmit)="getTimesheet()">
                <div class="form-group tbp-import-form" *ngSwitchCase="true">
                    <label class="form-control-label"
                           for="field_code_project_admin">Code project</label>
                    <select class="form-control" id="field_code_project_admin" name="code_project"
                            [(ngModel)]="appRequestBody.agresso">
                        <option *ngFor="let team of allTeams" [value]="team.agresso">{{team.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form" *ngSwitchCase="false">
                    <label class="form-control-label"
                           for="field_code_project_delco">Code project</label>
                    <select class="form-control" id="field_code_project_delco" name="code_project"
                            [(ngModel)]="appRequestBody.agresso">
                        <option [value]="myTeam.agresso">{{myTeam.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.year"
                           for="field_year">Year</label>
                    <select class="form-control" id="field_year" name="year"
                            [(ngModel)]="appRequestBody.year">
                        <option *ngFor="let year of years" [selected]="year == currentYear">{{year}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.month"
                           for="field_month">Month</label>
                    <select class="form-control" id="field_month" name="month"
                            [(ngModel)]="appRequestBody.month">
                        <option *ngFor="let month of months" [selected]="month == currentMonth">{{month}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.manDay"
                           for="field_month">Month</label>
                    <select class="form-control" id="field_man_day" name="manDay"
                            [(ngModel)]="appRequestBody.manDay">
                        <option *ngFor="let manDay of manDays" >{{manDay}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <button type="submit" id="tbp-timesheet-import-button" class="btn btn-primary float-right">
                        <!--<fa-icon [icon]="'calendar'"></fa-icon>-->
                        <span jhiTranslate="global.menu.entities.importAPP">
                            Import APP
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class=" table table-bordered table-responsive" *ngIf="imputations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span>Collaborartor</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span>Total</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th *ngFor="let day of days" [id]="day">{{day + '/' + imputations.month}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monthlyImputation of imputations.monthlyImputations ;trackBy: trackId">
                <td>{{monthlyImputation.collaborator?.id}}</td>
                <td>
                    <div *ngIf="monthlyImputation.collaborator">
                        <a [routerLink]="['../collaborator', monthlyImputation.collaborator?.id, 'view' ]">{{monthlyImputation.collaborator?.firstname + ' ' + monthlyImputation.collaborator?.lastname}}</a>
                    </div>
                </td>
                <td class="text-center"><b>{{monthlyImputation.total}}</b></td>
                <td class="text-center" *ngFor="let day of days" [id]="day">
                    <span
                        *ngFor="let dailyImputation of monthlyImputation.dailyImputations">{{day == dailyImputation.day ? dailyImputation.charge : ''}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
