<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.app-timesheet">APP Timesheet</span>
    </h2>
    <div class="row justify-content-center" *ngIf="allTeams || myTeam">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <form class="form-inline" name="appImputationForm" role="form" novalidate
                  [ngSwitch]="isAdmin()" (ngSubmit)="getTimesheet()">
                <div class="form-group tbp-import-form" *ngSwitchCase="true">
                    <label class="form-control-label"
                           for="field_code_project_admin" jhiTranslate="imputationSqliApp.imputation.project_code">Project</label>
                    <select class="form-control" id="field_code_project_admin" name="code_project"
                            [(ngModel)]="appRequestBody.agresso">
                        <option *ngFor="let team of allTeams" [value]="team.agresso">{{team.name}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form" *ngSwitchCase="false">
                    <span id="field_code_project_delco"><b>{{myTeam.name}}</b></span>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.year"
                           for="field_year">Year</label>
                    <select class="form-control" id="field_year" name="year"
                            [(ngModel)]="appRequestBody.year" (change)="initializeMonth()">
                        <option *ngFor="let year of years" [selected]="year == currentYear">{{year}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.month"
                           for="field_month">Month</label>
                    <select class="form-control" id="field_month" name="month"
                            [(ngModel)]="appRequestBody.month" (change)="refreshManDays()">
                        <option *ngFor="let month of months" [selected]="month == currentMonth">{{month}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.startDay">
                        Start Day</label>
                    <select class="form-control" id="field_startDay" name="startDay"
                            [(ngModel)]="appRequestBody.startDay">
                        <option *ngFor="let day of days">{{day}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <label class="form-control-label" jhiTranslate="imputationSqliApp.imputation.manDay">Man Day</label>
                    <select class="form-control" id="field_man_day" name="manDay"
                            [(ngModel)]="appRequestBody.manDay">
                        <option *ngFor="let manDay of manDays">{{manDay}}</option>
                    </select>
                </div>
                <div class="form-group tbp-import-form">
                    <button type="submit" id="tbp-timesheet-import-button" class="btn btn-primary float-right">
                        <!--<fa-icon [icon]="'calendar'"></fa-icon>-->
                        <span jhiTranslate="global.menu.entities.importAPP">
                            Import APP
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="imputations">
        <div class="table-responsive" *ngFor="let imputation of imputations">
            <h3>
                <span jhiTranslate="imputationSqliApp.imputation.yearMonth"
                      [translateValues]="{year:imputation.year, month: imputation.month}">Month : </span>
            </h3>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th><span>Collaborator</span>
                    </th>
                    <th class="text-center"><span>Total</span>
                    </th>
                    <th class="text-center" *ngFor="let day of imputationDays.get(imputation)"
                        [id]="day">{{day + '/' + imputation.month}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let monthlyImputation of imputation.monthlyImputations">
                    <td>{{monthlyImputation.collaborator.id}}</td>
                    <td><a
                        [routerLink]="['/collaborator', monthlyImputation.collaborator.id, 'view' ]">{{monthlyImputation.collaborator.lastname + ' ' + monthlyImputation.collaborator.firstname}}</a>
                    </td>
                    <td class="text-center"><b>{{monthlyImputation.total}}</b></td>
                    <td class="text-center" *ngFor="let day of imputationDays.get(imputation)" [id]="day">
                        <span
                            *ngFor="let dailyImputation of monthlyImputation.dailyImputations">{{day == dailyImputation.day ? dailyImputation.charge : ''}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
